<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
      <!-- bean definitions here --> 
    <bean id = "simplePostList" class = "com.sushil3.SocialMediaApplication.SimplePostList" 
    scope = "singleton" init-method = "init" destroy-method = "destroy"></bean>
    <bean id = "simplePost" class = "com.sushil3.SocialMediaApplication.SimplePost" 
    scope = "prototype" destroy-method = "destroy"></bean>
	<bean id = "simpleUser" class = "com.sushil3.SocialMediaApplication.SimpleUser">
		<property name="postList" ref = "simplePostList"></property>
	</bean>
</beans>