<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger level to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Set DEBUG level for specific Spring components -->
    <logger name="org.springframework.context.support.ClassPathXmlApplicationContext" level="DEBUG" />
    <logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader" level="DEBUG" />
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="DEBUG" />

</configuration>