<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myUser" class="com.example.TuneIn.MyUser">
        <property name="playlist" ref="myPlaylist" />
    </bean>

    <!--    Song bean definition-->
    <bean id="mySong" class="com.example.TuneIn.MySong" scope="prototype" >
    </bean>

    <!--    Define the playlist types-->
    <bean id="myPlaylist" class="com.example.TuneIn.MyPlaylist">
        <property name="mySong" ref="mySong" />
    </bean>

</beans>